<div>

    <div id="event_banner">
        <p id="event_title">Startup Weekend HackOut</p>
        <p id="event_location">HomeAway</p>
    </div>
    <div id="chat">
        <ul id="messages"></ul>
        <form action="">
            <input id="m" autocomplete="off" placeholder="Enter a Message to Chat"/>
            <button>Send</button>
        </form>

    </div>

</div>


<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font: 13px Helvetica, Arial;
    }

    form {
        position: fixed;
        bottom: 0;
        width: 100%;
        border: none;
        background: inherit;
        padding: 0;
        margin: 0;
        font-size: 14pt;
    }

    form input {
        border: 0;
        padding: 10px 5px;
        margin: 0 0.5vw !important;
        width: 85vw;
        border: none !important;
        min-width: 0;
    }

    form button {
        width: 12vw;
        background: rgb(130, 224, 255);
        border: none;
        padding: 10px;
        margin: 0 1vw 0 0 !important;
    }

    #messages {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: scroll;
    }

    #messages li {
        padding: 5px 10px;
        border-bottom: solid #eee thin;
    }

    #event_banner {
        background: no-repeat url("/images/startup_weekend_banner.png");
        background-size: 100%;
        background-position: center center;
        height: 12vh;
        background-color: rgba(0, 0, 0, 0.5);
        background-blend-mode: multiply
    }

    #event_title {
        font-size: 3vh;
        padding: 1vh 1vh 1vh 1vh;
    }

    #event_location {
        font-size: 2vh;
        padding: 0 1vh;
    }

</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script>
    $(function () {
        var socket = io();
        $('form').submit(function () {
            socket.emit('chat message', $('#m').val());
            $('#m').val('');
            return false;
        });
        socket.on('chat message', function (msg) {
            $('#messages').append($('<li>').text(msg));
            var message_list = document.getElementById("messages");
            message_list.scrollTop = message_list.scrollHeight;
        });
        $('ul#messages').height($(window).height() - $('form').height() - $('div#event_banner').height() - $('div.nav').height())
    });
</script>