<div class="tabs">
  <input type="radio" name="tab-group" id="tab1" checked aria-hidden="true">
  <label for="tab1" aria-hidden="true">Home</label>
  <div>
    <h3>Events</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo odio justo, a luctus odio auctor eget. Sed egestas metus id metus lobortis, at eleifend enim dignissim. Praesent faucibus erat at lacus pellentesque consequat. Integer porta
      rutrum mauris a imperdiet. Donec semper pharetra aliquam. Nunc cursus, massa eu accumsan egestas, eros elit lobortis mi, in laoreet ligula enim vitae ligula. In vitae tincidunt mauris. Vivamus quis vestibulum ligula. Maecenas mollis turpis vel augue
      auctor vehicula. Etiam eu quam vehicula, auctor mi vitae, laoreet nisl. </p><br/>
    <p>Curabitur eget auctor arcu. Etiam sed rhoncus nibh. Mauris tempor mauris quis dignissim porttitor. Suspendisse viverra, ante vitae placerat volutpat, eros elit posuere purus, ac feugiat leo massa et purus. Etiam ac dolor dictum, imperdiet ligula eu,
      gravida nisi. Morbi tellus lacus, ultricies ac mollis ut, dapibus in mauris. Pellentesque sed nisl fringilla, eleifend magna sollicitudin, dignissim tortor. Donec eleifend elit et enim fringilla lobortis. Nulla dignissim libero quis lorem laoreet,
      vel scelerisque lorem pellentesque. Pellentesque convallis, eros luctus fermentum scelerisque, est nisi maximus justo, vel tempus mauris quam ut lectus. </p>
  </div>
  <input type="radio" name="tab-group" id="tab2" aria-hidden="true">
  <label for="tab2" aria-hidden="true">About</label>
  <div>
    <h3>People</h3>
    <p>Fusce molestie eu nisi ut fermentum. Curabitur posuere viverra ipsum, sit amet facilisis lorem blandit sollicitudin. Aliquam erat volutpat. Donec vestibulum risus et urna ultricies, sit amet lacinia magna bibendum. Morbi ut dignissim mauris. Integer
      eu dolor quis justo efficitur aliquam non eu quam. Etiam ac dictum lacus, eu aliquet ante. Aenean vehicula mauris tempus, ultrices mi ultrices, luctus lectus. Aenean ornare libero elit, et accumsan velit cursus eget. Sed malesuada quam id risus
      pulvinar, et maximus nibh vulputate. Sed lectus urna, porta in elit sed, blandit imperdiet lacus. Ut quis mattis risus. Cras vitae aliquet lacus. </p><br/>
    <p>Pellentesque tincidunt augue augue, sit amet iaculis magna sagittis a. Ut felis risus, congue eu lacinia et, lobortis ac libero. Praesent a pulvinar mi, eget vestibulum magna. Nam vitae nisl mauris. Proin ornare tempor commodo. Integer ut nulla pulvinar,
      convallis neque sed, lobortis dolor. Vestibulum orci quam, euismod quis elit ac, volutpat rutrum dui. Suspendisse vitae magna magna. Aliquam erat volutpat. Aenean dapibus lectus lobortis mi tempor fermentum. In semper mauris nec ipsum sagittis,
      sit amet placerat leo convallis. Proin sagittis, ipsum in ultrices porta, nisi nunc vehicula enim, at mollis nisl enim id quam. Ut auctor tortor ultrices, consectetur dolor at, gravida justo. Aenean ac maximus enim, ut vulputate urna. </p>
  </div>
</div>
<div id="event_banner">
    <p>Startup Weekend HackOut</p>
</div>
<div id="chat">
    <ul id="messages"></ul>
    <form action="">
        <input id="m" autocomplete="off"/>
        <button>Send</button>
    </form>

</div>


<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font: 13px Helvetica, Arial;
    }

    form {
        background: #000;
        padding: 3px;
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    form input {
        border: 0;
        padding: 10px;
        margin-right: .5%;
    }

    form button {
        width: 9%;
        background: rgb(130, 224, 255);
        border: none;
        padding: 10px;
    }

    #messages {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    #messages li {
        padding: 5px 10px;
    }

    #messages li:nth-child(odd) {
        background: #eee;
    }

    #event_banner {
        background-image: url("/images/startup_weekend_banner.png");
    }
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script>
    $(function () {
        var socket = io();
        $('form').submit(function () {
            socket.emit('chat message', $('#m').val());
            $('#m').val('');
            return false;
        });
        socket.on('chat message', function (msg) {
            $('#messages').append($('<li>').text(msg));
        });

    });
</script>