<div>

    <div id="event_banner">
        <p id="event_title">Startup Weekend HackOut</p>
        <p id="event_location">HomeAway</p>
    </div>
    <div id="chat">
        <ul id="messages"></ul>
        <form action="">
            <input id="m" autocomplete="off" placeholder="Enter a Message to Chat"/>
            <button>Send</button>
        </form>

    </div>

</div>


<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font: 13px Helvetica, Arial;
    }

    form {
        position: fixed;
        bottom: 0;
        width: 100%;
        border: none;
        background: inherit;
        padding: 0;
        margin: 0;
        font-size: 14pt;
    }

    form input {
        border: 0;
        padding: 10px 5px;
        margin: 0 1vw !important;
        width: 75vw;
        border: none !important;
        min-width: 0;
    }

    form button {
        width: 20vw;
        background: rgb(130, 224, 255);
        border: none;
        padding: 10px;
        margin: 0 !important;
    }

    #messages {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: scroll;
        overflow-x: hidden;
    }

    #messages li {
        border-bottom: solid #eee thin;
    }

    #event_banner {
        background: no-repeat url("/images/startup_weekend_banner.png");
        background-size: 100%;
        background-position: center center;
        height: 12vh;
        background-color: rgba(0, 0, 0, 0.5);
        background-blend-mode: multiply
    }

    #event_title {
        font-size: 3vh;
        padding: 1vh 1vh 1vh 1vh;
    }

    #event_location {
        font-size: 2vh;
        padding: 0 1vh;
    }

    span.pic {
        clear: both;
        float: left;
        width: 40px;
        height: 40px;
        background-image: url("/images/profile_default.jpg");
        background-size: 100%;
        background-position: center center;
        background-blend-mode: multiply;
        margin: 2px 5px;
        border-radius: 50%;
    }
    div.uname {
        font-size: small;
        margin-top: 1px;
        padding: 0 10px;
    }
    div.message {
        font-size: 14pt;
        padding: 0 10px;

    }

</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script>
    var user_name = "{{profile.name}}";
    var red = {{colors.r}};
    var green = {{colors.g}};
    var blue ={{colors.b}};

    $(function () {
        var socket = io();
        $('form').submit(function () {
            $message_field = $('#m');
            send_data = {
                'm': $message_field.val(),
                'r': red,
                'g': green,
                'b': blue,
                'uname': user_name
            };
            socket.emit('chat message', send_data);
            $message_field.val('');
            return false;
        });
        socket.on('chat message', function (rx_data) {
            var remote_message = rx_data['m'];
            var remote_red = rx_data['r'];
            var remote_green = rx_data['g'];
            var remote_blue = rx_data['b'];
            var remote_user_name = rx_data['uname'];

            pic_span = $('<span>');
            pic_span.addClass('pic');
            pic_span.css('background-color', 'rgba(' + parseInt(remote_red) + ',' + parseInt(remote_green) + ',' + parseInt(remote_blue) + ',0.3)');

            uname_span = $('<div>');
            uname_span.addClass('uname');
            uname_span.text(remote_user_name);

            message_span = $('<div>');
            message_span.addClass('message');
            message_span.text(remote_message);

            message_li = $('<li>');
            message_li.append(pic_span);
            message_li.append(uname_span);
            message_li.append(message_span);

            $('#messages').append(message_li);
            scroll_chat_to_bottom();
        });
        resize_message_window();
    });
    window.onresize = resize_message_window;
    function resize_message_window() {
        $('ul#messages').height($(window).height() - $('form').height() - $('div#event_banner').height() - $('div.nav').height());
        scroll_chat_to_bottom();
    }
    function scroll_chat_to_bottom() {
        var message_list = document.getElementById("messages");
        message_list.scrollTop = message_list.scrollHeight;
    }
</script>