<!DOCTYPE html>
<html>
<head>
    <title>Pearl: Your Community</title>
    <link rel="stylesheet" href="https://gitcdn.link/repo/Chalarangelo/mini.css/master/dist/mini-nord.min.css">
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="nav">
    <ul>
        <a href="/people">
            <li>PEOPLE</li>
        </a>
        <a href="/events">
            <li>EVENTS</li>
        </a>
    </ul>
</div>
{{{body}}}
</body>
</html>